<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h3>
        <!--<a href="{{ site.baseurl }}">-->
        <a href="https://github.com/CppKorea/CppCoreGuidelines">C++ 핵심 가이드라인</a>
      </h3>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <small>
        {% if page.name == "CppCoreGuidelines.md" %}
      <!-- Items have to be added manually until for now -->
      <a class="sidebar-nav-item active" href="#main">위로</a>
      <a class="sidebar-nav-item active" href="#S-introduction">In: 소개</a>
      <a class="sidebar-nav-item active" href="#S-philosophy">P: 철학</a>
      <a class="sidebar-nav-item active" href="#S-interfaces">I: 인터페이스</a>
      <a class="sidebar-nav-item active" href="#S-functions">F: 함수</a>
      <a class="sidebar-nav-item active" href="#S-class">C: 클랙스와 클래스 계층</a>
      <a class="sidebar-nav-item active" href="#S-enum">Enum: 열거형</a>
      <a class="sidebar-nav-item active" href="#S-resource">R: 리소스 관리</a>
      <a class="sidebar-nav-item active" href="#S-expr">ES: 표현식과 문장</a>
      <a class="sidebar-nav-item active" href="#S-performance">Per: 성능</a>
      <a class="sidebar-nav-item active" href="#S-concurrency">CP: 동시성</a>
      <a class="sidebar-nav-item active" href="#S-errors">E: 오류 처리</a>
      <a class="sidebar-nav-item active" href="#S-const">Con: 상수와 불변성</a>
      <a class="sidebar-nav-item active" href="#S-templates">T: 템플릿과 제너릭 프로그래밍</a>
      <a class="sidebar-nav-item active" href="#S-cpl">CPL: C 스타일 프로그래밍</a>
      <a class="sidebar-nav-item active" href="#S-source">SF: 소스 파일</a>
      <a class="sidebar-nav-item active" href="#S-stdlib">STL: 표준 라이브러리</a>

      <a class="sidebar-nav-item active" href="#S-A">A: 구조적 아이디어</a>
      <a class="sidebar-nav-item active" href="#S-not">NR: 규칙이 아닌 미신</a>
      <a class="sidebar-nav-item active" href="#S-references">RF: 참고 문헌</a>
      <a class="sidebar-nav-item active" href="#S-profile">PRO: 프로파일</a>
      <a class="sidebar-nav-item active" href="#S-gsl">GSL: 가이드라인 지원 라이브러리</a>
      <a class="sidebar-nav-item active" href="#S-naming">NL: 이름 명명 규칙과 레이아웃</a>
      <a class="sidebar-nav-item active" href="#S-faq">FAQ: 자주 묻는 질문에 대한 대답</a>
      <a class="sidebar-nav-item active" href="#S-libraries">부록 A: 라이브러리</a>
      <a class="sidebar-nav-item active" href="#S-modernizing">부록 B: 모던 C++ 스타일로 코딩하기</a>
      <a class="sidebar-nav-item active" href="#S-discussion">부록 C: 토론</a>
      <a class="sidebar-nav-item active" href="#S-glossary">용어 설명</a>
      <a class="sidebar-nav-item active" href="#S-unclassified">To-do: 미분류 규칙</a>

        {% else %}

      <a class="sidebar-nav-item active" href="CppCoreGuidelines.html">C++ 핵심 가이드라인</a>
      <a class="sidebar-nav-item active" href="README.md">읽어보기</a>
      <a class="sidebar-nav-item active" href="CONTRIBUTING.md">도움 및 기여</a>
      <a class="sidebar-nav-item active" href="LICENSE">라이선스</a>
        {% endif %}

      </small>

    </nav>

    <!-- <p>Generated {{ site.time | date: '%Y-%m-%d' }}.</p> -->
  </div>
</div>
